  <div id="newsSlide">
  
  <nav class="nav">
    <h2 class="user_name"><a href="/users/<%= current_user.id%>">Hi <%=current_user.name%></a></h2>
    <div id="current_user_id" style="display: none;"><%=current_user.id%></div>
    <div id="current_user_name" style="display: none;"><%=current_user.name%></div>

    <form action="/sessions/<%=current_user.id%>" method="post" class="logout">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" class="form_button" value="Log out">
    </form><br>
  </nav>

  <div id="commentBody">

    <% if flash[:errors] %>
      <% flash[:errors].each do |e| %>
        <p style="color: red;"><%= e %></p>
      <% end %>
    <% end %>

    <div id="news" >

    </div>
  </div> <!-- end of the news and comment body -->
</div> <!-- end of the news slide -->


<div id="commentSlide"> 
  
</div><!-- end of the comment slid -->
