<div id="newsBody">
  <nav class="nav">

    <div id="news_nav">
      <form action="/bright_ideas" class="user_name">
        <input type="submit" id="home_button_newsStat" class="displayInlineClass" value="Go to News">
      </form>

      <form action="/sessions/<%=current_user.id%>" method="post" class="logout">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="form_button" value="Log out">
      </form> 
    </div>
  </nav>

  <h4 class="likes_post">Total likes <%= @likedUsersCount %> Total shared <%= @sharedPost.count %></h4>

  <div id="allListNews">

   <!-- news -->
    <div class="displayInlineClass" id="newsPastStat" >

      <h3 class="titleStat titleStatMain"><%=@post.newsTitle%></h3>

      <div class="postImageStat">
        <img src="<%= @post.image %>" alt="News Image">
      </div>
      
      <p class="articleStat"><%=@post.description%></p>
      <a href="<%= @post.url%>"><p>Read more ...</p></a>
    </div>

    <!-- comments -->
      <div class="displayInlineClass" id="commentsUsersPost"> 
        <h4 style="text-decoration: underline;">Recent shares and comments</h4>

          <% @sharedPost.last(15).reverse.each do |posted|%>
          <a href="/users/<%= posted.user.id%>"><p><span style="text-decoration: underline;"><%= posted.user.name%></span></a> <%=posted.content%></p> <p><%=posted.created_at.strftime('Shared on %m/%d/%Y at %I:%M%p') %> - <%=posted.likes.count%> people liked</p>
            <hr>
          <% end %>
      </div>      
  </div>
</div>
