<nav class="nav">

  <nav class="nav">
    <div id="news_nav">
      <form action="/bright_ideas" class="user_name">
        <input type="submit" id="home_button_newsStat" class="displayInlineClass" value="Go to News">
      </form>

      <form action="/sessions/<%=current_user.id%>" method="post" class="logout">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" class="form_button" value="Log out">
      </form> 
    </div>
  </nav>

</nav>

<h4><%=@user.name%> - Total number of posts: <%= @user.posts.count%><span id="bloggerEmail">Email: <%=@user.email%></span></h4>

<div id="bloggerNews">

  <% @user.posts.reverse.each do |post|%>

  		<a href="/bright_ideas/<%= post.id%>">

			<div class="newsBody">
              <div class="imageNews">
        <img src="<%= post.image %>" alt="News Image">
      </div>
			  <h3><%= post.newsTitle%></h3>
			  <h5 style="margin-top: 30px;"><%= post.description%></h5>
			  <p>Shared <%= post.created_at.strftime(' on %m/%d/%Y at %I:%M%p') %></p>
			  <p>Total number of likes: <%= post.likes.count%></p>
			</div>

		</a>
		<hr>
  <% end %>
</div>
